@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}
 ::-webkit-scrollbar{
    height: 0;
    width: 0;
}

img#back {
    width: 100vw;
}

a#go {
   display: block;
   background-color: #DE5047;
   color: white;
   padding: 20px;
   text-align: center;
   font-weight: 900;
   text-transform: uppercase;
   text-decoration: none;
}

a#go:hover {
    background-color: #bd3f36;
}

/* LINKS */

p#links {
    text-align: center;
    padding: 10px;
    background-color:  #3b3e44;
}

p#links a {
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 0 1px;
}

p#links img {
    height: 40px;
    width: 40px;
    border-radius: 4px;
}