* {
    margin: 0;
    padding: 0;

}

body, html {
    background-color: #3b3e44;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

header {
    background-color: #454950;
    padding: 40px 15px;
    border-top: 10px solid #DE5047;
}

header p {
    color: #68A8B0;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    position: relative;
}

section#phone {
    height: 628px;
    width: 310px;
    background-image: url('../images/phone.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* IFRAME */ 
iframe#tela {
    position: relative;
    top: 38px;
    left: 17px;
    width: 275px;
    height: 567px;
    border-radius: 2px 2px 30px 28px;
}


/* BOTÕES */ 
section#lista {
    text-align: center;
}

section#lista ul li {
    list-style-type: none;
}

section#lista ul li img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 1px 1px 5px #000;
    box-sizing: border-box;
}

section#lista ul li i {
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 1px 1px 5px #000;
    box-sizing: border-box;
}

section#lista img:hover {
    box-shadow: 3px 3px 5px #0000008c;
    transition: transform 0.3s;
}