@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 30px auto;
}

section#phone {
    display: none;
}

/* IFRAME */ 
iframe#tela {
    display: none;
}


/* BOTÕES */ 
section#lista {
    text-align: left;
    margin-bottom: 50px;
}

section#lista ul li {
    list-style-type: none;
}

section#lista ul li img {
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: none;
}

a#home, a#sbr {
    display: none;
}

a {
    color: #3b3e44;
    text-decoration: none;
    font-size: 20pt;
}

a::after {
    vertical-align: top;
    padding-left: 10px;
}

a#be::after {
    content: 'be.net/thaisi';
}

a#gthb::after {
    content: 'github.com/thaisiporto';
}

a#rsm::after {
    content:'thaisiporto.github.io/curriculo/';
}

a#ig::after {
    content: '@thaisi_p'
}

footer {
    display: none;
}